
$app-gray: rgb(128,127,131);
$app-halfgray: rgba(128,127,131,0.5);
$app-gray-half-opacity: $app-halfgray;
$app-qgray: rgba(128,127,131,0.25);
$app-gray-q-opacity: $app-qgray;
$app-darkgray: rgb(100,99,102);
$app-lightgray: rgb(239,239,239);
$app-lightgray-half-opacity: rgba(239,239,239, 0.5);
$app-lightgray-q-opacity: rgba(239,239,239, 0.25);
