$app-qgreen: rgba(98,144,128,0.25);
$app-halfgreen: rgba(98,144,128,0.5);
$app-lightgray: rgb(239,239,239);
$search-button-darkgreen: rgba(98,144,128,.75);
$logo-text-icon-fontsize: 31.5px;
$search-input-width: 350px !important;
$top-row-margin: 25px;
$logo-margin-right: 12px;
$logo-margin-bottom: 10px;
$logo-margin-width: 10.9%;
$centerdiv-dropdown-container-height: 35px;
$text-display-size: 15px;
$footer-display-margin-top: 30px;
$list-item-display-color: 0000FF;
$centereddiv-form-margin-top: 20px;
$centereddiv-form-margin-bottom: 40px;
$list-dropdown-border-radius: 40px;
$list-dropdown-border-color: #646366;
$list-dropdown-border-width: 250px;
$list-dropdown-border-margin: 5px;
$list-spacing: 10px;
$list-li-background-color:#FFFF00;
$list-li-margin-right: 25px;
$list-li-margin-top: 2px;
