$app-qgreen: rgba(98,144,128,0.25);
$app-halfgreen: rgba(98,144,128,0.5);
$app-lightgray: rgb(239,239,239);
$logo-text-icon-fontsize: 31.5px;
$search-input-width: 350px !important;
$top-row-margin: 25px;
$logo-margin-right: 12px;
$logo-margin-bottom: 10px;
$logo-margin-width: 10.9%;
$centerdiv-dropdown-container-height: 30px;
