.centereddiv-form {
  height: auto;
  width:auto;
  // background-color: #000;
}

.logo-frame-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-form {
  font-size: 15px;
  margin-top: 40px;
}
