@import './constants.scss';

.center-form-wrapper {
  margin-top: $centereddiv-form-margin-top;
  margin-bottom: $centereddiv-form-margin-bottom;
}

.app-footer {
  font-size: $text-display-size;
   margin-top: $footer-display-margin-top;
}

.form-display-truncate span{
  position:relative;
  width:300px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
}

 .form-display-data span:hover{
  cursor: pointer;
  opacity: .25;
}
