@import './constants.scss';

.center-landing-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  align-content: left;

  .landing-toprow {
    margin-bottom: $top-row-margin;

    .landing-logo-icon {
      align-items:flex-start;
      margin-right: $logo-margin-right;
      margin-bottom: $logo-margin-bottom;
      width: $logo-margin-width;
    }

    .landing-text-icon {
      text-decoration-color: $app-qgreen;
      font-size: $logo-text-icon-fontsize;
    }
  }

  .landing-bottomrow {
    .landing-search-input {
      width:$search-input-width
    }

    .landing-search-input-btn {
      text-decoration-color: $app-qgreen;
    }

    .landing-search-button {
      color: $search-button-darkgreen;
    }

  }

}
