$app-qgreen: rgba(98,144,128,0.25);
$app-halfgreen: rgba(98,144,128,0.5);

.centereddiv {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  align-content: left;

  // background-color: #000;
}

.landing-toprow {
  margin-top: 5px;
  margin-bottom: 25px;
}

.landing-logo-icon {
  align-items:flex-start;
  margin-right: 12px;
  margin-bottom: 10px;
  width: 10.9%;
}

.landing-text-icon {
  text-decoration-color: $app-qgreen;
  font-size: 31.5px;

}

.landing-search-input {
  width:350px !important;
}
