@import './constants.scss';

.centerdiv-list-wrapper {
  background-color: $app-lightgray;
}

.list-logo-icon {
  align-items:flex-start;
  margin-right: $logo-margin-right;
  margin-bottom: $logo-margin-bottom;
  width: $logo-margin-width;
}

.list-text-icon {
  text-decoration-color: $app-qgreen;
  font-size: $logo-text-icon-fontsize;
}

.list-search-input {
  width:$search-input-width
}

.centereddiv-list {
  height: auto;
  width:auto;
}

.centerdiv-dropdown-container {
  height: $centerdiv-dropdown-container-height;
}

.centereddiv-list-dropdown {
  height: auto;
  width: auto;
  align-content: left;
}

.list-footer {
  font-size: 15px;
  margin-top: 20px;
}


.list-dropdown {
      border-radius: 40px;
      color: #646366;
      width: 250px;
      height: 30px;
      margin-right: 5px;
}

.list-dropdown-li {
    text-decoration-color: blue;
}

.list-count-text {
   font-size: 15px;
   text-decoration-color: $app-qgreen;
   font-style: italic;
   margin-bottom: 15px;

}

.list-listitems {
  padding: 2px;
}


.list-listitem-container {
  margin-bottom: 30px;
}


.list-listitem-span {
  margin-right: 25px;
  font-size: 15px;
}

.list-listitem-span-dd {
  margin-right: 25px;
  font-size: 15px;
  font-weight: bold;
  background-color: yellow;
}
