$app-qgreen: rgba(98,144,128,0.25);
$app-halfgreen: rgba(98,144,128,0.5);
$app-lightgray: rgb(239,239,239);

.centerdiv-list-wrapper {
  background-color: $app-lightgray;
}

.centereddiv-list {

  height: auto;
  width:auto;

}

.centereddiv-list-dropdown {
  height: auto;
  width: auto;
  align-content: left;


}

.list-footer {
  font-size: 15px;
  margin-top: 20px;
}

.list-toprow {
  margin-top: 5px;

}

.list-logo-icon {
  align-items:flex-start;
  margin-right: 5px;
  margin-bottom: 5px;

}

.list-text-icon {
  text-decoration-color: $app-qgreen;
  font-size: 22px;

}

.list-dropdown {
      border-radius: 40px;
      color: #646366;
      width: 250px;
      height: 30px;
      margin-right: 5px;
}

.list-dropdown-li {
    text-decoration-color: blue;
}

.list-count-text {
   font-size: 15px;
   text-decoration-color: $app-qgreen;
   font-style: italic;
   margin-bottom: 15px;

}

.list-listitems {
  padding: 2px;
}

.list-listitem-container {
  margin-top: 10px;
  margin-bottom: 30px;
}


.list-listitem-span {
  margin-right: 25px;
  font-size: 15px;
}
