{{#if checkRoute}}
  <div class="container centereddiv ">
    <div class="row justify-content-center align-items-center landing-toprow">
      <div class="col-sm-1.5">
        <img class="logo-icon" alt="krinitial"  src="{{applicationState.rootURL}}firm_initials.png">
      </div>
      <div class="col-sm-10.5">
          <h2 class="text-muted text-icon font-weight-bold text-left">TAX DUE DATE SEARCH</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form>
          <div class="input-group">
            <input type="text" class="form-control search shadow-sm  rounded" placeholder="Search for...">
            <span class="input-group-btn">
              {{#link-to "search"}}<button class="btn btn-light shadow-sm rounded search-button" type="button">Search!</button>{{/link-to}}
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
{{/if}}
{{outlet}}
