
<div class="d-flex centereddiv  flex-column rounded">
  <div class="row justify-content-center align-items-center ">
    <div class="displaylogo col-sm-8">
      <div><img class="pull-left img-thumbnail " src="images/firm_initials.png">
        <span class="displayfont font-weight-bold text-muted " >TAX DUE DATE SEARCH</span>
      </div>
    </div>
    <div class="col-sm-8">
      <form>
        <div class="input-group">
          <input type="text" class="form-control landing-searchbar-size search shadow p-3 mb-5 bg-white rounded" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-light shadow p-3 mb-5 bg-white landing-searchbar-size justify-content-center  rounded" type="button">Search!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

{{outlet}}
