{{#if (eq currentRouteName 'index')}}
  <div class="container center-landing-wrapper ">
    <div class="row landing-toprow">
      <div class="col-sm-12">
        <img class="landing-logo-icon" alt="krinitial"  src="{{applicationState.rootURL}}firm_initials.png">
        <span class="text-muted landing-text-icon  text-left">TAX DUE DATE SEARCH</span>
      </div>
    </div>
    <div class="row landing-bottomrow">
        <form>
          <div class="input-group col-sm-12">
            {{input type="text" value=searchKeyLanding class="form-control  landing-search-input mb-3  border-light shadow-sm  mb-5 bg-white rounded" placeholder="Search for..."}}
            <div class="input-group-btn">
              {{#link-to "searches"}}<button class="btn btn-light shadow-sm mb-5 bg-white rounded landing-search-button" type="button">Search!</button>{{/link-to}}
            </div>
          </div>
        </form>
      </div>
  </div>
{{/if}}


{{outlet}}
