{{#if checkRouteName}}
  <div class="container centereddiv ">
    <div class="row landing-toprow">
      <div class="col-sm-12">
        <img class="landing-logo-icon" alt="krinitial"  src="{{applicationState.rootURL}}firm_initials.png">
        <span class="text-muted landing-text-icon  text-left">TAX DUE DATE SEARCH</span>
      </div>
    </div>
    <div class="row">
        <form>
          <div class="input-group col-sm-12">
            <input type="text" class="form-control search mb-5  landing-search-input border-light shadow-sm  mb-5 bg-white rounded" placeholder="Search for...">
            <span class="input-group-btn">
              {{#link-to "search"}}<button class="btn btn-light shadow-sm mb-5 bg-white rounded search-button" type="button">Search!</button>{{/link-to}}
            </span>
          </div>
        </form>
      </div>
  </div>
{{/if}}
{{outlet}}
