<section>
  <div class="d-flex align-items-center flex-column justify-content-center h-100 shadow p-3 mb-5 bg-white rounded">
    <div>
      <img class="pull-left img-thumbnail " src="images/firm_initials.png">
      <span class="display-5 font-weight-bold text-muted " >TAX DUE DATE SEARCH</span>
    </div>
      <br />
  </div>
</section>

<div class="container custom-locale-form align-items-right">
  <h4 class="font-weight-bold text-muted">
    Details of Alabama (AL) - Form 20C
  </h4>
  <br />
  <form >
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Jurisdiction:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="Connecticut (CT)" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Entity Type:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="Corporation" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Form Name Description:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="Corporation Business Tax Return" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Form Name:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="CT-1120" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Form Link:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control text-primary" id="" placeholder="#" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Supplemental:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control text-primary" id="" placeholder="#" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Instructions Link:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control text-primary" id="" placeholder="#" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Allowed:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="Yes" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Required:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="Yes" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Explanation:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="Must be filed electronically" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Authorization Name:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="N/A" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Authorization Name Description:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="N/A" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Due Date:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="04/15" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Due Date If Not Calender:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="fifteenth day of the fifth month" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Extension Due Date:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="9/15" readonly>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Extension Due Date If Not Calender:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="fifteenth day of the fifth month" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Extension Required Or Automatic:</label>
      <div class="col-sm-4">
        <input data-bind="value: " type="text" class="form-control font-italic" id="" placeholder="Required" readonly>
      </div>
    </div>
  </form>
</div>
