<section>
  <div class="d-flex align-items-center flex-column justify-content-center h-100 shadow p-3 mb-5 bg-white rounded">
    <div><img class="pull-left img-thumbnail " src="images/firm_initials.png">
      <span class="display-5 font-weight-bold text-muted " >TAX DUE DATE SEARCH</span></div>
      <br />
  </div>
</section>
<div class="container fluid custom-locale-form align-items-center">
  <h4 class="font-weight-bold text-muted">
    Details of Alabama (AL) - Form 20C
  </h4>
  <br />
  <form class="align-items-center">
      <div class="form-group row">
        <label for="language" class="col-sm-2 form-control-label font-weight-bold ">Language:</label>
        <div class="col-sm-10">
          <input data-bind="value: language" type="text" class="form-control font-italic" id="language" placeholder="Language" readonly>
        </div>
      </div>
  </form>
</div>
